<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Veritabanı bağlantı cümleni (connection string) buraya ekliyoruz -->
    <!-- Projenin çalışacağı yerdeki SQL Server'a göre bunu düzenlemen gerekebilir -->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kumparam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KumparamDB"
             connectionString="Server=localhost;Database=KumparamDB;Trusted_Connection=True;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>

    <userSettings>
        <Kumparam.Properties.Settings>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Kumparam.Properties.Settings>
    </userSettings>
</configuration>