<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Veritabanı bağlantı cümleni (connection string) buraya ekliyoruz -->
    <!-- Projenin çalışacağı yerdeki SQL Server'a göre bunu düzenlemen gerekebilir -->
    <connectionStrings>
        <add name="KumparamDB"
             connectionString="Server=localhost;Database=KumparamDB;Trusted_Connection=True;TrustServerCertificate=True;"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>

</configuration>